
body
{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to left, #6a11cb, #2575fc);
    
}


.profil img
{
    width: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 30px;

  
}

.link img
{
    width: 50px;
    margin: 20px ;
    margin-top: 50px;
    padding: 20px;
}

.profil table
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

td,td
{
    padding: 15px;
    font-size: 20px;
    padding: 12px 20px;

}

th 
{
    color: #00eaff;;
    font-size: 18px;
    font-weight: 700;
    
    
}

td
{
    color: #f0f0f0;
    font-size: 17px;
    
}
.waktu
{
    margin-top: 20px;
    font-size: 20px;
    color:#cfd8dc;
    font-family:s;
}

.link img:hover 
{
    transform: scale(1.2);
    filter: drop-shadow(0 0 8px #7886f3); 
}

.copyright 
{
    color: #cfd8dc;
    opacity: 0.5;
    margin-top: 80px;
}

